<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/website/css/gate.css" />

	<script>
        var url_dict = {"board": "{% url 'board:index' %}"}
		var check_url = "{% url 'website:check' %}"
	</script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/website/js/html5-canvas-paint-bucket.js"></script>
    <script type="text/javascript" src="/static/website/js/gate.js"></script>
    <title>Owl!</title>
</head>
<body>
    <canvas id="canvas" onmousedown=fillColor(event)></canvas>
    <div id="palette">
        <div class="color"
             style="background-color: #990000;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
        <div class="color"
             style="background-color: #994c00;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div><br />
        <div class="color"
             style="background-color: #999900;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
        <div class="color"
             style="background-color: #4c9900;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div><br />
        <div class="color"
             style="background-color: #009900;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
        <div class="color"
             style="background-color: #00994c;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div><br />
        <div class="color"
             style="background-color: #009998;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
        <div class="color"
             style="background-color: #004c99;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div><br />
        <div class="color"
             style="background-color: #000099;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
        <div class="color"
             style="background-color: #4c0099;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div><br />
        <div class="color"
             style="background-color: #980099;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
        <div class="color"
             style="background-color: #99004c;"
             onmouseover="mouseover(this)"
             onmouseout="mouseout(this)"
             onclick="colorSelected(this)">
        </div>
    </div>
    <div id="mask"></div>
    <p id="poem">
        在荒唐的八月，<br />
        你未能停止<br />
        孤芳自賞。<br />
    </p>
</body>
</html>
