{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/global.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/help.css" %}" />

    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/help.js" %}"></script>

    <title>帮助</title>
</head>
<body>
    <div class="menu">
        <a href="javascript:history.go(-1);">返回</a>
    </div>
    <div class="container">
		<div id="catalog">
		</div>
		<div id="what-s-this" class="content" title="这是什么">
			<h3>这是什么？</h3>
			<p>波特诺伊的秘密计划是一个实验性、自由、非公开的讨论板。如果您看到这段话，就说明您已经被邀请加入到这个计划中来。</p>
            <p>在互联网蓬勃发展了30余年后的今天，这个人们的交流<i>似乎</i>变得更方便的环境里，文字内容已经趋于快餐化。人们试图懒惰地寻找着廉价的共鸣，这给包括管理员在内的一类人带来了无尽的孤独。于是，便产生了这个计划，尝试着“倒退一点”，借用互联网这个媒体，叛逆性地提供一个更加稳重的交流平台。</p>
            <p>这里是完全匿名的——没有登录注册系统，并且服务器也没有任何方式来记录您的ip。这样，您可以抛开作者，更加专注于内容本身，并且作为发言者时更加自由。</p>
		</div>
		<div id="about-content" class="content" title="有关内容">
			<h3>我要怎样使用它？</h3>
            <p>您可以发表以文字或图片为主的内容。同时，您可以为您的内容配上声音，它将在内容被打开时自动播放。</p>
            <p>我们欢迎更加具有艺术性和修饰性的内容，比如通过小说、散文、绘画、声音叙述等方式表达。通俗点说，就是更加“美”的东西，而不是直白的发泄。</p>
			<h3>如何修改或者删除？</h3>
			<p>因为完全匿名，所以本站出于安全考虑不提供修改和删除功能。</p>
            <p>如果您需要一些小的改动，比如错别字等，可以直接再发表一次修改后的文章，管理员维护时将帮您把旧的删除。</p>
            <p>如果改动很大或者需要删除内容，您可以<a href="mailto:wyattliang@gmail.com">联系管理员</a>，说明修改内容和原因。</p>
			<h3>不欢迎内容？</h3>
			<p>虽然，在本站您可以近乎畅所欲言，但是为了计划的健康进行，这里不欢迎一下内容：</p>
            <ul>
                <li>政治内容；</li>
                <li>儿童色情；</li>
                <li>传教内容——但是讨论宗教本身是可以的；</li>
                <li>人身攻击；</li>
                <li>无意义内容；包括为防止消失而故意添加的；</li>
                <li>无修饰的感情发泄。</li>
            </ul>
		</div>
		<div id="disappear" class="content" title="消失">
			<h3>为什么内容会消失？</h3>
			<p>在这里，您发表的内容如果少于200字并且为纯文字，将会随着时间的流逝而变淡，最后永久消失。这是为了积淀更加高质量的内容。</p>
            <p>较短内容的生存期计算方法为：<br />生存小时数=48*(12arctan(字数/40-2)+14)</p>
            <p>需要注意的是，这并不代表这里不欢迎较短内容。而只是我们认为很长一段时间后，一个有充分上下文的内容会更加容易唤起共情，从而更加有保存价值。当然，不会很死板，<i>管理员也会根据内容，酌情修改生存期</i>。这里欢迎您来问一句早安，不过，让这句普通的问候随着时间而消逝不是更好吗 :)</p>
		</div>
		<div id="owl" class="content" title="猫头鹰先生">
			<h3>猫头鹰先生</h3>
			<p>您已经到达了这里，肯定也会见过我们的猫头鹰先生。通过填涂不同的颜色，您可以从猫头鹰先生到达不同的地方。为了提醒，我们把到达这里的涂色放在这里：</p>
            <p><img src="{% static 'board/img/board.png' %}" width=400 /></p>
            <p>猫头鹰先生需要每个月重新验证填涂，所以您需要妥善保管这个涂色 :)</p>
		</div>
		<div id="about-this-site" class="content" title="讨论版信息">
			<h3>技术信息</h3>
			<p>这里的源代码已经开源到GitHub上：</p>
            <p><a href="https://github.com/joodo/portnoy">https://github.com/joodo/portnoy</a></p>
			<h3>历程</h3>
            <p>2015年3月8日：第一次计划开始；</p>
			<p>2015年4月29日：服务器到期，关闭调整；</p>
			<p>2015年10月31日：万圣节，计划重新开始。</p>
		</div>
    </div>
</body>
</html>
