{% load static %}
{% load keep_indent %}
{% load thumbnail %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/global.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/detail.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/form.css" %}" />

    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "utils/js/color_animate.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/mouse.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/form.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/detail.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/load_color.js" %}"></script>
    <script type="text/javascript" charset="utf-8">
        var success_url = ".";
        var image_url = "{% static "board/img/" %}";

        $(document).ready(function() {
            {% if tag %}
                loadColor("{{ tag.background_color }}",
                    "{{ tag.content_text_color }}",
                    "{{ tag.title_text_color }}",
                    "{{ tag.anchor_text_color }}");
            {% else %}
                loadColor();
            {% endif %}
        });
    </script>

    <title>
        {% if post.title %}
        {{ post.title }}
        {% else %}
        详细
        {% endif %}
    </title>
</head>
<body>
    <div class="menu">
        <a href="javascript:history.go(-1);">返回</a>
        {% if post.music %}
            <audio src="{{ post.music.url }}" autoplay loop id="background_music"></audio>
            <script>
                var player = document.getElementById("background_music");
            </script>
            音乐
            <a href="#" onclick="player.pause();" style="margin-right:0;">停止</a>
            <a href="#" onclick="player.play();player.volume=0.5;" style="margin-right:0;">小</a>
            <a href="#" onclick="player.play();player.volume=1;">大</a>
        {% endif %}
        {% with last_life=post.last_life %}
            {% if last_life < 1500 %}
                它将
                {% if last_life > 0 %}
                    在{{ last_life|floatformat:2 }}小时后
                {% else %}
                    很快
                {% endif %}
                消失
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <div class="title">
            {{ post.title }}
        </div>
        <div id="commets" class="content post">
            {{ post.content|keep_indent }}
            {% if post.image %}
                <br />
                {% thumbnail post.image "500" as image %}
                <a href="{{ post.image.url }}"><img src="{{ image.url }}" /></a>
                {% endthumbnail %}
            {% endif %}
        </div>
        {% if post.comments.count > 0 %}
            <p class="segment"><b>commets</b></p>
        {% endif %}
        {% for commet in post.comments.all %}
        <li class="post">
            {% include "board/post.html" with post=commet %}
        </li>
        {% endfor %}
        <div id="add_commet">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="parent" value="{{ post.id }}" />
                <div id="form_fields" class="hidden">
                    <p class="segment"><b>new commet</b></p>
                    {% include "board/form.html" with form=form %}
                </div>
                <div class="button" onclick="buttonClicked(this);" href="#">回应…</div>
                <div id="field_toggle" class="button hidden" onclick="fieldToggle(this);" href="#">＋</div>
            </form>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>
