{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/global.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/form.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/create.css" %}" />

    <script>
        var success_url = "{% url 'board:index' %}";
        var image_url = "{% static "board/img/" %}";
    </script>
    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "utils/js/color_animate.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/form.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/create.js" %}"></script>

    <title>新的</title>
</head>
<body onload="onLoad()">
    <div class="container">
            <form method="post" enctype="multipart/form-data">
                <div id="form_fields">
                    {% csrf_token %}
                    <input type="hidden" name="parent" value="{{ post.id }}" />
                    {{ form.content }}<br />
                    {{ form.title }}<br />
                    <div class="file_upload">
                        <div class="label">图片</div>
                        <div class="file_name"></div>
                        <div class="clear_button">X</div>
                        {{ form.image }}
                    </div>
                    <div class="file_upload">
                        <div class="label">声音</div>
                        <div class="file_name"></div>
                        <div class="clear_button">X</div>
                        {{ form.music }}
                    </div>
                </div>
                <div class="button" onclick="onSubmit();" href="#">回应…</div>
            </form>
    </div>
    <div id="progress_mask">
        <div id="progress_bar">
            <div id="suits">
            </div>
        </div>
    </div>
</body>
</html>
