<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/new.css" %}" />

	<script>
		var index_url = "{% url 'board:index' %}"
	</script>
    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/new.js" %}"></script>

    <title>{{ post.title }}</title>
</head>
<body onload="onLoad()" onresize="onResize()">
	<div class="wrap">
		<div class="content">
        {% for commet in post.comments.all %}
            {{ commet.title }}<br />
            {{ commet.content }}<br />
        {% endfor %}
			<form id="text" method="post" enctype="multipart/form-data">
			{% csrf_token %}
                <input type="hidden" name="parent" value="{{ post.id }}" />
                <textarea name="content"></textarea>
                <input type="file" name="image" accept="image/*" />
                <input type="text" name="title" />
				<a class="button" onclick="onSubmit('text')" href="#">好了。</a>
			</form>
		</div>
	</div>
	<div id="progress_mask">
		<div id="progress_bar">
			<div id="suits">
			</div>
		</div>
	</div>
</body>
</html>
