{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/global.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/form.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/create.css" %}" />

    <script>
        var success_url = "{% url 'board:index' %}";
        var image_url = "{% static "board/img/" %}";
    </script>
    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "utils/js/color_animate.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/form.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/create.js" %}"></script>

    <title>新的</title>
</head>
<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% include "board/form.html" with form=form %}
            <div id="button_box">
                <div class="button" onclick="onSubmit();" href="#">好了。</div>
                <div id="field_toggle" class="button" onclick="fieldToggle(this);" href="#">＋</div>
            </div>
        </form>
    </div>
    <img id="cheshire" src="{% static "board/img/cheshire_cat.png" %}" />
</body>
</html>
