<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/new.css" %}" />

	<script>
		var index_url = "{% url 'board:index' %}"
	</script>
    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/new.js" %}"></script>

    <title>新的</title>
</head>
<body onload="onLoad()" onresize="onResize()">
	<div class="wrap">
		<div class="content">
<!--			<form autocomplete="off">
				<input type="radio" id="radio_text" name="radio_type" class="radio" checked /><label for="radio_text" onclick="onTypeChange('text')">文</label>
				<input type="radio" id="radio_image" name="radio_type" class="radio" /><label for="radio_image" onclick="onTypeChange('image')">图</label>
				<input type="radio" id="radio_voice" name="radio_type" class="radio" /><label for="radio_voice" onclick="onTypeChange('voice')">声</label>
			</form>
            <br />-->
			<form id="text" method="post" enctype="multipart/form-data">
			{% csrf_token %}
            {% for field in form %}
                <p>{{ field }}</p>
            {% endfor %}
				<a class="button" onclick="onSubmit('text')" href="#">好了。</a>
			</form>
		</div>
	</div>
	<div id="progress_mask">
		<div id="progress_bar">
			<div id="suits">
			</div>
		</div>
	</div>
</body>
</html>
