{% load static %}
{% load keep_indent %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/global.css" %}" />

    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/mouse.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/load_color.js" %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            loadColor();
        });
    </script>
    <title>波特诺伊的秘密计划。</title>
</head>
<body>
    <div class="menu">
        <a href="mailto:wyattliang@gmail.com?subject=feedback">联系管理员</a>
        <a href="#">帮助</a>
        <a href="#">邀请</a>
    </div>
    <div class="header">
        波特诺伊的秘密计划。
    </div>
    <div class="container"><ul>
    {% for post in post_list %}
        {% ifchanged post.datetime.date %}
            <div class="date">
                {% ifequal post.datetime.date.year now.date.year %}
                <b>{{ post.datetime.date|date:'n月j日' }}</b>
                {% else %}
                <b>{{ post.datetime.date|date:'Y年n月j日' }}</b>
                {% endifequal %}
            </div>
        {% endifchanged %}
            <li class="post" {% get_css_opacity post.last_life %}>
            {% include "board/post.html" with post=post %}
            </li>
        {% endfor %}
    </ul></div>
    {% include "board/paginator.html" with page_obj=page_obj %}
    <div class="poster">
        <div class="button"
            onclick="location.href='{% url 'board:new' %}';"
            id="new_post">写...</div>
    </div>
    <div class="footer">
    </div>
</body>
</html>
