{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "board/css/global.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "board/css/tag_update.css" %}" />

    <script type="text/javascript" src="{% static "utils/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/tag_update.js" %}"></script>
    <script type="text/javascript" src="{% static "board/js/load_color.js" %}"></script>

    <title>{{ tag.name }}</title>
</head>
<body>
	<div id="palette">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <div id="save">记住</div>
            <div id="cancle">取消</div>
        </form>
	</div>
    <div class="container">
        <li class="post">
            <div class="content">
                &nbsp;&nbsp;&nbsp;斯皮瓦格爾醫生，這就是我的人生，我唯一的人生，我就活在這麼個猶太式笑話裡！我是這個猶太笑話裡的兒子——只有這點不是開玩笑的！請問，是誰致使我們成為這樣的殘廢？是誰讓我們變得這麼病態這麼歇斯底里這麼孱弱？為什麼，為什麼他們還能一直尖叫：『小心啊！不准！艾歷克斯——不可以！』隻身一人的我躺在紐約的床上時，又為什麼還要絕望地抽動著自己的肉棒？醫生，我這是什麼病呢？這就是我從前老是聽到的猶太人的苦難嗎？這就是從大屠殺和大迫害一直傳承到我身上的枷鎖嗎？它源自這美好的兩千年以來，異教徒贈與我們的嘲弄和侮辱嗎？哦，我的秘密，我的恥辱，我的心悸，我的臉紅，我的汗水！我對單純人生裡世事變遷的反應方式！醫生，我再也無法忍受這種無端的恐嚇了！賜給我男子氣概吧！讓我勇敢起來！讓我堅強！讓我完整！我受夠當這個優秀的猶太男孩一會兒在人前討好我的父母、讓他們高興，背地裡卻抽動著我的屌！我受夠了！
            </div>
            <p class="tag"><i>01:45，</i>打手槍，<a href="#">#波特諾伊的怨訴#</a>，菲利普·羅斯</p>
        </li>
    </div>
</body>
</html>
