* {
	margin: 0;
}

body {
	background-color: #101010;
	background-image:url(/static/board/img/cheshire_cat.png);
	color: white;
	background-repeat: no-repeat;
	background-position: 80% 30%;
	font-family: "黑体", "SimHei", "苹果丽中黑", "Apple LiGothic Medium";
}

div {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 400px;
    margin: 20px 0;
}
