#commets {
    margin-bottom: 40px;
}
#form_segment, .button {
    width: 100px;
    border-bottom: solid white 1px;
    position: absolute;
}
#field_toggle {
    display: none;
    left: 120px;
}


#form_fields {
    height: 500px;
    display: none;
    padding-bottom: 10px;
    width: 100%;
}

#add_commet {
    position: absolute;
    width: 600px;
}

.footer {
    margin-top: 600px;
}
