.button {
    position: absolute;
}

#commets {
    margin-bottom: 40px;
}
#field_toggle {
    display: none;
    left: 120px;
}

form input[type="text"] {
    width: 572px;
}
form textarea {
    width: 572px;
}

#form_fields {
    height: 500px;
    display: none;
    padding-bottom: 10px;
    width: 100%;
}

#add_commet {
    position: absolute;
    width: 600px;
}

.footer {
    margin-top: 600px;
}
