#form_segment, .button {
    width: 100px;
    border-bottom: solid white 1px;
    position: absolute;
}

#form_fields {
    display: none;
    padding: 20px 0;
    width: 100%;
}

#add_commet {
    position: absolute;
    width: 600px;
}

.footer {
    margin-top: 500px;
}
