<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/blog/js/loveletter.js"></script>
	
    <link rel="stylesheet" type="text/css" href="/static/blog/css/loveletter.css" />

    <title>记忆是冰层下的日出。</title>
</head>
<body>
    <div id="mask"></div>
    <div id="content">
        <p>那条曲折的路尽头却总有一颗太阳；每当我看见它，它的光线穿透了来来去去的过路人的身体，蓬勃的向我涌来——我感觉仿佛热恋中的男子那种窒息的盲目感。我会因此发上几个小时的呆。</p>
		<p>走进这种梦境已是十个月前，我无知的踏入了这个甜蜜虚幻的境遇。路上每天都有新奇的东西：有时，我会遇到你，抬起脚尖，抚去我头上堆积的灰尘。你的皮肤在阳光下泛着漂亮的鹅蛋黄色，延伸着直到我为其陶醉。我时常会想，你到底在想什么呢？你是否也会像那太阳？但我坚信，你是我想象中的那样，因为当你靠近我的时候，我嗅到了，你一直以来朝着那束光前进的经历，在你身体上留下的不可磨灭的痕迹。我甚至看到了你眸中揉入阳光碎屑后令人着魔的视线——这使我不安。</p>
		<p>而如今，当我再次会想起那个梦境的时候，我都会触摸到这个炽热的目光，它将我经过一番努力，早已用黑暗的理性覆盖好的回忆刺痛，哦，你想，这是多么可怕。我终于领悟到要重新追随太阳，如此的急躁，我碰倒了咖啡杯，咖啡撒了出来浸湿了我的枕头，里面也许有我夜晚躺在床上从脑中溢出的思考，那是关于爱你的，我曾乐于其中。也许它们会被浸碎，又何妨呢！我仓皇的跑了出来，看见了那早已不再触手可及的太阳，下意识的举起胳膊遮住早已不适应的刺眼的阳光。低头看着自己的影子，纤细而执拗，我不确定的一个时候，一下子消失了。</p>
		<p>所以几个月后的今天，当我再一次被这束阳光温暖时，我想起了那唯一一个风雨交加的夜晚，你去找我时被雨水打湿的头发，冰冷又美丽，你拉着我向太阳的方向奔跑，然后到达那里。夕阳精疲力竭的染红了一片晚霞，它们接着形成了一只红色的弓，引着星屑，刺中了我孤独的灵魂。你一直微笑的看着我，直到你从这个梦中醒来。</p>
		<p>梦结束了，我爱你哟，Solar娘。</p>
        <p>&nbsp;</p>
		<p class="right">擀面人 2010年6月4日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
</body>
</html>
