<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/board/css/index.css" />

    <title>波特诺伊的秘密计划。</title>
</head>
<body>
	<div class="header">
        波特诺伊的秘密计划。
    </div>
	<div class="container"><ul>
	{% for post in post_list %}
		{% ifnotequal post.datetime.date.year 1970 %}
			<div class="date">
			{% ifequal post.datetime.date.year now.date.year %}
				<b>{{ post.datetime.date|date:'n月j日' }}</b>
			{% else %}
				<b>{{ post.datetime.date|date:'Y年n月j日' }}</b>
			{% endifequal %}
			</div>
		{% endifnotequal %}
			<li>
		{% ifequal post.post_type 'TXT' %}
			<div class="text">
				<p class="content">{{ post.contenttext.content|safe }}</p>
		{% endifequal %}
		{% ifequal post.post_type 'IMG' %}
			<div class="image">
				<p class="content">
					<img src="{{ post.contentimage.content.url }}" />
				</p>
		{% endifequal %}
		{% ifequal post.post_type 'VOI' %}
			<div class="voice">
				<p class="content">
					<audio src="{{ post.contentvoice.content.url }}" controls="controls" />
				</p>
		{% endifequal %}
		{% ifnotequal post.title '' %}
				<p class="tag"><i>{{ post.datetime|time:'G:i' }}，</i>{{ post.title|safe }}</p>
		{% endifnotequal %}
			</div>
			</li>
	{% endfor %}
	</ul></div>
{% ifnotequal max_page 1 %}
	<div class="paginator">
	{% ifnotequal current_page 1 %}
		<a href="{{ base_url }}">第一页</a>&nbsp;
		<a href="{{ base_url }}?page={{ current_page|add:'-1' }}">上一页</a>&nbsp;
	{% endifnotequal %}
	{% for p in page_range %}
		{% ifequal p current_page %}
			<b>{{ p }}</b>&nbsp;
		{% else %}
			<a href="{{ base_url }}?page={{ p }}">{{ p }}</a>&nbsp;
		{% endifequal %}
	{% endfor %}
	{% ifnotequal current_page max_page %}
		<a href="{{ base_url }}?page={{ current_page|add:'1' }}">下一页</a>&nbsp;
		<a href="{{ base_url }}?page={{ max_page }}">最后一页</a>&nbsp;
	{% endifnotequal %}
		<p>----------------------------------------------</p>
	</div>
{% endifnotequal %}
    <div class="poster">
        <a href="{% url 'board:new' %}" id="new_post">写...</a>
    </div>
	<div class="footer">
		<a = href="{% url 'board:loveletter' %}">回忆</a>
	</div>
</body>
</html>
