<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/staticpages/css/index.css" />

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/staticpages/js/index.js"></script>

    <title>你好。</title>
</head>
<body>
    <a href="#"><img id="photo" src="/static/staticpages/img/index_bg.png" /></a>
    <a id="smile" href="{% url 'staticpages:happy' %}">:)&nbsp;&nbsp;&nbsp;:D</a>
    <a id="love" href="#">___❤_</a>
    <a id="secret" href="{% url 'staticpages:secret' %}">??</a>
    <a id="music" href="javascript: musicswitch();">♫</a>
    <audio id="bgmusic" src="/static/staticpages/resource/index.mp3" />
</body>
</html>
