<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/schedule/js/index.js"></script>
    <script>
        function onAddClicked() {
			if ($('#newProjectName').val() == '') {
				return;
			}
			
			$.post("{% url 'schedule:addproject' %}", 
				{ name: $('#newProjectName').val()}, 
				function(data){
					var list = document.getElementById("projects")
					
					var li= document.createElement("li")
					var href_a = document.createElement("a")
					href_a.href = data
					href_a.innerHTML = $('#newProjectName').val()
					li.appendChild(href_a)
					list.appendChild(li)
					
					$('#newProjectName').val("")
			   }
			);
        }
		
		function onNewWindowClicked() {
			window.open('/schedule/', 'newwindow',
				'height=350, width=400, toolbar=no, menubar=no, location=no, status=no')
		}
    </script>
    <title>有没有工作</title>
</head>
<body>
<script>
    $(document).ajaxSend(function(event, xhr, settings) { 
        function getCookie(name) { 
            var cookieValue = null; 
            if (document.cookie && document.cookie != '') { 
                var cookies = document.cookie.split(';'); 
                for (var i = 0; i < cookies.length; i++) { 
                    var cookie = jQuery.trim(cookies[i]); 
                    // Does this cookie string begin with the name we want? 
                    if (cookie.substring(0, name.length + 1) == (name + '=')) { 
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1)); 
                       break; 
                   } 
               } 
           } 
           return cookieValue; 
       } 
       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) { 
           // Only send the token to relative URLs i.e. locally. 
           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); 
       } 
	});
</script>
<ul id="projects">
    {% for project in project_list %}
    <li><a href="{% url 'schedule:project' project.id %}">{{ project.name }}</a></li>
    {% endfor %}
</ul>
<br/>
<input id="newProjectName"/>
<button onclick="onAddClicked()">接到新活了！</button><br />
<button onclick="onNewWindowClicked()">你你你能不能变小点呀</button>
</body>
</html>
