<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/schedule/js/project.js"></script>
    <script>
        function onBackClicked() {
            window.location.href = "{% url 'schedule:index' %}"
        }
		
        function onManualClicked() {
            window.location.href = "{% url 'schedule:manual' project.id %}"
        }
		
        function onDetailClicked() {
            window.location.href = "{% url 'schedule:detail' project.id %}"
			//window.open("{% url 'schedule:detail' project.id %}",'newwindow','width=200,height=200')
        }
		
        function onStartClicked() {
            if ($('#start').html() === "暂停") {
				$('#start').html("继续")
				
				$('#back').removeAttr('disabled');
				$('#ok').removeAttr('disabled');
				
				clearInterval(timer)
			} else {
				$('#start').html("暂停")
				
				$('#manual').attr('disabled','disabled')
				$('#detail').attr('disabled','disabled')
				$('#back').attr('disabled','disabled')
				$('#ok').attr('disabled','disabled')
				
				timer = setInterval("tick()",1000)
			}
        }
		
		function onSubmit() {
			if ($("#job_content").val() == "") {
				alert("说说你干嘛了呀？")
				return false
			}
			
			return true
		}
    </script>
    <title>{{ project.name }}</title>
</head>
<body>
	<h3>项目：{{ project.name }}</h3>
	<form action="{% url 'schedule:addschedule' project.id %}"
		method="post"
		autocomplete="off"
		onsubmit="return onSubmit()">
	{% csrf_token %}
		<input id="workHour" name="workHour" readonly="readonly" value="00" style="width:20px" /> : 
		<input id="workMinute" name="workMinute" readonly="readonly" value="00" style="width:20px" /> : 
		<input id="workSecond" readonly="readonly" value="00" style="width:20px" />
		<br />
		<button id="start" onclick="onStartClicked()" type="button">开始计时</button><br />
		<br />
		<label>工作内容：</label><br />
		<textarea id="job_content" name="content"></textarea><br />
		<input id="ok" type="submit" value="记录工时！" disabled /><br />
	</form>
	<br /><br />
	<button id="back" onclick="onBackClicked()">返回</button>
	<button id="manual" onclick="onManualClicked()">手动填写</button>
	<button id="detail" onclick="onDetailClicked()">工时总计</button>
	<audio id="beep" src="/static/schedule/resource/beep.mp3"/>
</body>
</html>
